body {
    margin: 0;
    padding: 0;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;



}

.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #DD4A48;
}

.memeArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;

}


.buttonDiv {
    margin-top: 60px;
    color: #DD4A48;
}